body {
    margin: 0;
    padding: 5px;
    color: #fff;
    background-color: #63C8F2;
    font-family: 'Times New Roman', Times, serif;
}

#title, #board{
    text-align: center;
} 

#ascii_image{
    text-align: center;
    color: #fff;
    white-space:pre;
    letter-spacing:0;
    line-height:1.4;
    font-family: 'Consolas','BitstreamVeraSansMono','CourierNew',Courier,monospace;
    font-size:0.51em;

}

.hide {

    display: none;
}