*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

.page-content {
    flex: 1;
}

.site-footer {
    background: var(--cnes-dark);
    color: var(--cnes-white);
    font-family: sans-serif;
    text-align: left;
    margin: 0 !important;
    padding: 0 !important;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-serif);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    color: var(--cnes-light);
    background-color: var(--cnes-dark);
}

h3 {
    font-family: var(--font-display);
    color: var(--cnes-white);
    font-weight: normal;
}

h2 {
    font-family: var(--font-display);
    font-weight: normal;
    color: var(--cnes-white);
    font-size: clamp(4rem, 10vw, 3rem);
    line-height: 1.1;
}


h1 {
    font-family: var(--font-display);
    font-weight: normal;
    color: var(--cnes-white);
    font-size: clamp(4rem, 10vw, 4rem);
    line-height: 1.1;
}

p {
    color: var(--cnes-white);
}
