*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-serif);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    color: var(--cnes-light);
    background-color: var(--cnes-dark);
}

h3 {
    font-family: var(--font-display);
    color: var(--cnes-white);
    font-weight: normal;
}

h2 {
    font-family: var(--font-display);
    font-weight: normal;
    color: var(--cnes-white);
    font-size: clamp(4rem, 10vw, 3rem);
    line-height: 1.1;
}


h1 {
    font-family: var(--font-display);
    font-weight: normal;
    color: var(--cnes-white);
    font-size: clamp(4rem, 10vw, 4rem);
    line-height: 1.1;
}

p {
    color: var(--cnes-white);
}
