.button {
    padding: var(--space-2) var(--space-3);
    color: var(--cnes-white);
    font-family: var(--font-serif);
    border: none;
}

.button:hover {
  color: var(--cnes-yellow);
}

a.button {
    text-decoration: none;
    
}

/* Square border button */
.btn-square {
    border: 4px solid var(--cnes-white);
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    display: inline-block;
    color: var(--cnes-white);
    font-family: var(--font-serif);
}

/* Rounded border button */
.btn-rounded {
    border: 4px solid var(--cnes-white);
    border-radius: 20px;
    padding: 0.75rem 2.5rem; /* wider horizontal padding */
    text-decoration: none;
    display: inline-block;
    color: var(--cnes-white);
    font-family: var(--font-serif);
    min-width: 200px; /* optional: forces button to a minimum width */
    text-align: center; /* keeps text centered */
}

    .btn-square:hover, .btn-rounded:hover {
        color: var(--cnes-yellow);
        border-color: var(--cnes-yellow);
    }



