.button {
    padding: var(--space-2) var(--space-3);
    /*border-radius: var(--radius-sm);
    background: var(--cnes-dark);*/
    color: var(--cnes-white);
    font-family: var(--font-serif);
    border: none;
    font-weight: 600;
}

.button:hover {
  color: var(--cnes-yellow);
}

a.button {
    text-decoration: none;
    
}