.container {
  max-width: var(--max-width);
  margin-inline: auto;
  padding-inline: var(--space-3);
}

.stack > * + * {
  margin-top: var(--space-3);
}

.site-header {
    background-color: var(--cnes-darkred);
    position: relative; /* required for z-index to work */
    z-index: 10; /* higher than .bg-wrap::before */
}

/* hide menu by default */
.dropdown-menu {
    transition: opacity 0.2s ease;
    opacity: 0;
    visibility: hidden;
    background-color: var(--cnes-darkred);
    position: absolute; /* ensure it layers on top */
    z-index: 11; /* higher than header background and hero overlay */
}


/* show menu when parent is hovered */
.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    background-color: var(--cnes-darkred);
}


/* Index */
.hero {
    min-height: auto; /* remove the forced full screen */
    padding: 2rem 1rem; /* control top/bottom space */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* vertical centering */
    gap: 0.5rem; /* smaller spacing between logo, h1, button */
}

.hero-center img,
.hero-center h1,{
    margin: 0; /* remove default margins */
}


.bg-wrap {
    position: relative;
    background: none;
    

}
    .bg-wrap::before {
        content: "";
        position: fixed;
        inset: 0;
        background: url("/assets/images/reactor-bg.jpg") center / cover no-repeat;
        z-index: -1;
        background-position: 90% 35%;
    }



/* bring content above overlay */
.bg-wrap > * {
  position: relative;
  z-index: 1;
}

.hero-center {
    text-align: center;
}

.logo {
    width: 600px; /* increase as needed */
    max-width: 80%;
    height: auto;
    margin-bottom: 1rem;
}

.below {
    padding: 6rem 1rem;
    text-align: center;
}

.text-box {
    max-width: 600px;
    margin: 0 auto;
  
}

.text-box-lg {
    max-width: 600px;
    margin: 0 auto;
    color: var(--cnes-white);
    font-size: 1.2rem;
}

.below,
footer {
    background: var(--cnes-dark); /* or any solid color */
    width: 100%;
    position: relative;
    z-index: 2;
}

.nav-buttons {
    margin-top: 5rem;
    display: flex;
    justify-content: center; /* center the buttons as a group */
    gap: 10rem; /* space between buttons */
}

.nav-buttons a {
    margin: 0; /* remove individual margins, rely on gap */
}

