.container {
  max-width: var(--max-width);
  margin-inline: auto;
  padding-inline: var(--space-3);
}

.stack > * + * {
  margin-top: var(--space-3);
}

.site-header {
    background-color: var(--cnes-darkred);
}

/* hide menu by default */
.dropdown-menu {
    transition: opacity 0.2s ease;
    opacity: 0;
    visibility: hidden;
    background-color: var(--cnes-darkred);
}

/* show menu when parent is hovered */
.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    background-color: var(--cnes-darkred);
}
